$slate : #008fb3;
$beige : #E8EDE6;
$blue : #5694a8;
$purple : #391D42;

.box {
  border-radius: 8px;
  background: $slate;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    border-radius: 7px;
    text-align: center;
    background: white;
    color: $blue;
  }
}

body {
  background: $beige;
}

.jumbotron {
  background: $purple;
  color: white;
}

#repoInfo{
  display: none;
}
